body{
    background-image: url(../images/20211111_230851.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}
/* positioning parts of profile */
.container{
    background-color: black;
    display: grid;
    grid-template-rows: [row1-start] 150px [row1-end row2-start] 450px [row2-end];
    grid-template-columns: [column1-start] 250px [column1-end column2-start] 300px [column2-end];
    grid-template-areas: 
    "logo header header header"
    "sidebar main main main";
    margin: 0px;
}
.header{
    background-color: #FCB43A;
    grid-area: header;
    text-align: center;
}
.header h1{
    font-size: 40px;
}
.header h4{
    margin-left: 300px;
    color: blue;
}
.sidebar{
    background-color: black;
    grid-area: sidebar;
    color: #FFE05D;
}
li{
    padding-bottom: 45px;
    padding-top: 40px;
    padding-left: 35px;
    font-size: 18.5px;
}
ul a{
    text-decoration: none;
    color: #FFE05D;
}
li:hover{
    background-color: #FCB43A;
    color: black;
}
ul a:hover{
    color: black;
}

.logo {
    grid-area: logo;
}
.logo img {
    width: 250px;
    height: 150px;
}
.main{
    background-color: rgb(255, 255, 255);
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* styling status edit */
.profile{
    margin-right: 50px;
    padding: 5px 30px;
}
.profile img{
    padding-left: 55px;
}
.profile input[type=text]{
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 230px;
    height: 30px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: black;
}
.profile input[type=text]::placeholder{
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.email input[type=text]{
    background-color: rgb(247, 247, 247);
    margin-left: 79px;
    height: 20px;
    text-align:left;
    font-style: normal;
    font-size: 15px;
    color: black;
}
.cohort input[type=text]{
    background-color: rgb(247, 247, 247);
    margin-left: 73px;
    height: 20px;
    text-align:left;
    font-style: normal;
    font-size: 15px;
    color: black;
}

.facilitator select{
    background-color: rgb(247, 247, 247);
    /* margin-left: 73px; */
    height: 20px;
    text-align:left;
    font-style: normal;
    font-size: 14px;
    color: black;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 230px;
}
.profile label{
    font-weight: bolder;
    font-size: 16px;
}
/* styling score access */
.calender{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
.calender img{
    width: 100px;
    height: 100px;
}
.progress{
    padding-top: 50px;
}
.progress img{
    width: 100%;
}

.main a {
    color: #FCB43A;
    font-size: 18px;
    text-decoration: none;
}
.main a:hover{
    text-decoration: underline;
}
/* styling footer */
footer{
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 5px 5px -5px #333;
}